:root {
  --color-teal-blue: #2ac1aa;
  --color-light-grey: #d7d9d6;
  --color-light-green: #a3d65e;
  --color-dark-green: #587c3d;
  --color-dark-brown: #6b3e2d;
  --color-yellow: #fef157;
  --color-black: #000000;
}
